# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_PINATA_GATEWAY_URL=
NEXT_PUBLIC_PINATA_API_KEY=
NEXT_PUBLIC_PINATA_GATEWAY_TOKEN=
NEXT_PUBLIC_BEARER_TOKEN=

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.env
